
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.h1 {
    color: red;
    font-family: "times new roman";
}

a:link {
  text-decoration: none;
  background-color: #CCCCCC;
}

body {font-family: sans-serif;
color: #000099;
background-color: white;
}